<div class="shops">
	<div id="search_form"><%= render 'search_form'%></div>
	<h4 id="index_title"><%= t('.title')%></h4>
	<%= render 'shops', shops: @shops%>
	<%= link_to t('.register_shop'), new_shop_path %>
</div>
