<div><%= render 'shop', shop: @shop%></div>

<div class="left">
	<div class="row">
		<h4><%= t('.registered_bean') if @beans.present?%></h4>
			<%= render 'beans/beans', beans: @shop.beans.page(params[:page])%>
	</div>
<%= link_to t('.return'), :back %>
</div>


