// Place all the styles related to the beans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#bean_image img {
	width: 100%;
	height: 650px;
	object-fit: contain;
}
