// Place all the styles related to the beans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#bean_info {
	width: 55%;
}

.card {
	position: relative;
	height: 980px;
	margin: 0;
	padding: 0;
}

#activator {
	position: absolute;
}
