// Place all the styles related to the shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#shop_info {
	width: 50%;
}

.card img,
.card-image img {
	object-fit: cover;
}

td .material-icons {
	display: inline-flex;
	vertical-align: middle;
}
