// Place all the styles related to the shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// div#shop_image {
// 	height: 500px;
// }

#shop_image img {
	width: 100%;
	height: 530px;
	object-fit: cover;
}

// .col.l6.right,
// .col.l6.left {
// 	padding: 0;
// }
