// Place all the styles related to the TopPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#toppage_image img {
	width: 100%;
	height: 20vw;
}

@media screen and (max-width: 460px) {
	div#toppage_image {
		display: none
	}
}
